# shellcheck shell=bash

# shellcheck disable=SC1091

# opt into flake dependencies via `touch .use-flake`
[ -f .use-flake ] && {
  # shellcheck disable=SC1091
  [ -f .envrc-flake-support ] && source ./.envrc-flake-support
  use flake
}

[ -f .envrc-personal ] && source ./.envrc-personal
